*{
   
}


/*
alternando as propriedasdes docontainer pai
*/

.box-pai{
    flex-direction: row; /* padrão*/
    display: flex;
    flex-wrap: wrap;
    
    
}

/*
alternando as propriedasdes docontainer pai
*/

/*
classe responsavel pela estrutura
*/

.box{
    width: 150px;
    margin: 1%;
    padding: 1%;
    height: 100px;
    text-align: center;
}

/*
classe responsavel pela estrutura
*/

/*
classe responsavel pelo visual
*/

.box-1{
    background-color: brown;
    flex-grow: 1;
    flex-basis: 200px;
    flex-shrink: 1;
}
.box-2{
    background-color: rgb(50, 42, 165);
    flex-grow: 2;
    flex-basis: 100px;
    flex-shrink: 2;
}
.box-3{
    background-color: aqua;
    flex-grow: 1;
    flex-shrink: 3;
}

.box-4{
    background-color: chartreuse;
    flex-grow: 1;
}
/*
classe responsavel pelo visual
*/