@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.active{
    text-decoration: none;
    background-color: #0000ff; 
    color: #ffffff;

}
body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    font-family: 'Trebuchet MS', sans-serif;
}
nav{
    margin-top: 2%;
}
nav a{
    padding: 2%;
    float: right;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(255, 0, 140);
}

.box-pai{
    display: flex;
    background-color: #7cb972;
    margin: 5%;
    width: 90%;
    height: 500px;
}